{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste d'entreprise correspondantes</h1>

    <ul>
        {% for company in datas["results"] %}
            {% if company.siren %}
            <li> {{ company.nom_complet }} : <a href="{{ path('getCompany', {'company': company}) }}">{{ company.siren }} </a></li>
               {% endif %}  
        {% endfor %}
    </ul>

    <p>Nombre de résultat : {{ datas["total_results"] }}</p>
{% endblock %}
