{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('listCompanies') }}" method="post">
        <div>
            <label for="companySearch">Recherche d'entreprise :</label>
            <input type="text" id="companySearch" name="companySearch">
        </div>
        <div>
            <button type="submit">Rechercher</button>
        </div>
    </form>
{% endblock %}
