<!DOCTYPE html>
<html>
<head>
    <title>Looping Over Data</title>
</head>
<body>
    <h5>Siren:</h5>
    <label>{{company.siren}}</label></br>
    <h5>Nom raison sociale:</h5>
    <label>{{company.raisonSociale}}</label></br>
    <h5>Siret:</h5>
    <label>{{company.siret}}</label></br>
    <h5>Adresse:</h5>
    <label>{{company.adresse}}</label></br>
    <input type="text"  name="salaire" >
</body>
</html>
